.grid{
  position: absolute;
  width: 345px;
  height: 240px;
  border: solid black 1px;
  margin-top: 80px;
  
}

.block{
  position: absolute;
  width: 80px;
  height: 15px;
  background-color: blue;
}

.user{
  position: absolute;
  width: 80px;
  height: 15px;
  background-color: purple;
}

.ball{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 7px;
  background-color: red;
}
